# Compiled binaries / build output
/src/tronscan-exporter
*.exe
*.deb

# CI working dirs
/ci/workdir/
/ci/deb/becreator/
/ci/deb/etc/

# Go
vendor/

# Local build output
/dist/
/src/tronscan-exporter-linux-amd64
